{
   'data_file' : './resources./wisconsin_filtered.csv',
   'learning_rate' : 0.05,
   'epochs' : 1500,
   'gradient_descent_func' : 'stochastic_gradient_descent',
   'data_project_columns' : ['clump_thickness',
                             'uniformity_of_cell_size',
                             'uniformity_of_cell_shape',
                             'marginal_adhesion',
                             'single_epithelial_cell_size',
                             'bare_nuclei',
                             'bland_chromatin',
                             'normal_nucleoli',
                             'mitoses'],
   'plot_func' : 'plot_multi_dimensional',
   'plot_config' : {'output_file_prefix' : 'wisconsin',
                    'colors' : {1 : 'green', 0: 'red'}},
   'class_label_col' : ['class_label'],
   'class_label_mapping' : {4 : 1, 2 : 0},
   'data_prep_func' : 'standardize'
}